.navbar{
  opacity: 0.9;
    filter: alpha(opacity=50);
}
/*my csssssssssssssssssssssssssssssssssssssssssssssssssss*/
.card{
    width:320px;
    height:314px;
    border:1px solid gray;
    border-radius: 4px;
    margin:10px 30px;

} 
.card .img-fluid{
    width:318px;
}
.card:hover{
  box-shadow: 0 14px 15px 0 rgba(0,0,0,.17);
}
.des{
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow:hidden;
  height:60px;
  /*text-align: center;*/
}
.wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
  }
  .footer{
    display: flex;
    color:#4a4a4a;
    justify-content: space-between;
  }

/*endssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

div.button {
    color: white;
    text-align: right;
    font-size: 16px;
float:left;
}

section.so_content {
    margin-top: 60px;
}

div.campaign-grid-item {
    width: 200px;
    height: 180px;
    float: left;
    border: 0.5px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
}

div.campaign-grid {
  background: #EEE;
  max-width: 100%;
  max-height: inherit;
}

div.img {
    margin: 7px;
    border: 1px solid #ccc;
    float: left;
    display: inline-block;
}

div.image img {
    width: 100%;
    height: 80%;
}

div.img:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 10px;
    text-align: center;
    display: inline-block;
}


.img-responsive{
 height:55%;
 width: 100%;

}
#footer{
  width: 100%;
  filter: alpha(opacity=50);}
